<ngx-loading-bar
    color="#000000"
    height="5px"
    [includeSpinner]="false">    
</ngx-loading-bar>
<nav class="navbar is-warning">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="assets/logo.png">
        </a>
        <a class="navbar-burger burger" (click)="toggleMenu()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" [ngClass]="{ 'is-active': showMenu }">
        <div class="navbar-start" (click)="toggleMenu()">
            <a class="navbar-item" routerLink="/films">
                Films
            </a>
            <a class="navbar-item" target="_blank" href="https://github.com/hildorjr/desafio-front-filmes">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>
                    Github
                </span>
            </a>
        </div>
    </div>
</nav>
<div class="section main-section">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Developed with
            <span class="icon has-text-danger">
                <i class="fas fa-heart"></i>
            </span>
            by <a href="https://hildor.com.br" target="_blank">Hildor</a>
        </p>
    </div>
</footer>