<ngx-loading-bar
    color="#ffdd57"
    height="5px"
    [includeSpinner]="false">    
</ngx-loading-bar>
<div class="hero is-warning has-text-centered">
    <div class="hero-body">
        <img src="assets/images/logo.png">
    </div>
</div>
<div class="section main-section">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            Developed with
            <span class="icon has-text-danger">
                <i class="fas fa-heart"></i>
            </span>
            by <a href="https://hildor.com.br" target="_blank">Hildor</a>
            <br>
            Source code can be found at 
            <a target="_blank" href="https://github.com/hildorjr/starwars-movies">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>
                    Github
                </span>
            </a>
        </p>
    </div>
</footer>